@{
    ViewData["Title"] = "Listings";
}

<div class="container-fluid">
    <h1 class="text-center mb-4">AnimeStart Anime Listings</h1>
    <p class="text-center">Listing's for anime and genres'</p>
    <div class="row">
        <div class="col-md-3">
            <h2>Menu</h2>
            <ul class="list-unstyled">
                <li>No Links Yet</li>
            </ul>
        </div>
        <div class="col-md-9">
            <!-- Add content here if needed -->
        </div>
    </div>
</div>
