@{
    ViewData["Title"] = "Listings";
}
<div class="container">
    <h1 class="text-center mb-4">AnimeStart Anime Listings</h1>
    <p class="text-center mb-4">Listing's for anime and genres'</p>
    <div class="row">
        <div class="col-md-3 col-sm-12 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="h4 mb-3">Menu</h2>
                    <div class="alert alert-info">
                        No Links Yet
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <!-- Add content here -->
                </div>
            </div>
        </div>
    </div>
</div>
