@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <p>This is the first use case of mine from using Asp.net. Finnalizing things with software development</p>
</div>

