@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To AnimeStart</h1>
    <p>Your Guide for Anime.</p>
    
</div>

<h2> Menu </h2>
<ul>
    <li> <a href="Home/Overview">Overview</a></li>
    <li> <a href="Home/References">References</a></li>
  

</ul>