@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="text-center mb-4">Welcome To AnimeStart</h1>
    <p class="text-center">Your Guide for Anime.</p>
    <div class="row">
        <div class="col-md-3">
            <h2>Menu</h2>
            <ul class="list-unstyled">
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Overview">Overview</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="References">References</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <!-- Add content here if needed -->
        </div>
    </div>
</div>