@{
    ViewData["Title"] = "Reviews Page";
}


<form method="post">

    <label for="title">Title</label>
    <input id="title" name="Book.Title" /> <br />

    <label for="author">Author</label>
    <input id="author" name="Book.Author" /> <br />

    <label for="reviewer">Reviewer</label>
    <input id="reviewer" name="Reviewer.Name" /> <br />

    <label for="title">Review</label>
    <input id="text" name="ReviewText" /> <br />

    <button type="submit">Submit</button>

</form>


