@{
    ViewData["Title"] = "Blog Page";
}

<div class="text-center">
    <h1 class="display-4">Blog</h1>
    <p>This is the blog page</p>

</div>

<h2>Menu</h2>

<ul>
    <li><a href="Home/Recommended">Recomended Books</a></li>
</ul>