@{
    ViewData["Title"] = "Blog Page";
}

<div class="container-fluid">
    <h1 class="text-center mb-4">Blog Page</h1>
    <p class="text-center"> A page dedicated to blog's </p>

    <div class="row">
        <div class="col-md-3">
            <h2>Menu</h2>
            <ul class="list-unstyled">
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="TopPosts">Top Posts</a></li>
                <li><a class="nav-link text-dark" asp-area="" asp-controller="Blog" asp-action="About">About</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <a class="nav-link text-dark mb-3" asp-area="" asp-controller="Blog" asp-action="Blogs">Write a New Blog</a>

            <h2 class="mb-3">Posts</h2>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Post 1</h5>
                            <p class="card-text">Short description of Post 1</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Post 2</h5>
                            <p class="card-text">Short description of Post 2</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Post 3</h5>
                            <p class="card-text">Short description of Post 3</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>