@{
    ViewData["Title"] = "Top Posts";
}


<div class="row">
    <div class="col-md-8">
        <h2>Top Posts</h2>
        <ul class="list-unstyled">
            <li><a href="#">Top Post 1</a></li>
            <li><a href="#">Top Post 2</a></li>
            <li><a href="#">Top Post 3</a></li>
        </ul>
    </div>
